# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# PNPM / Yarn cache
.pnp.*
.yarn/
.yarnrc.yml
.cache
# Build outputs
/dist
/dist/**
build
out
/.vercel
/.vercel/**
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local
.env.*
.env.production
.env.development
.env.test

# Supabase/service keys files
.env.*service*
.env.local.*

# Vite / cache
.vite
.cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
